
@media (min-width: 992px) {
  .content {
    font-size: 14px !important;
  }
} 

@media (max-width: 768px) {
  .content {
    font-size: 12px !important;
  }
}

.filetree-sidebar h1 {
    font-size: 20px !important;
}

.markdown-preview-view {
 font-size: 12px !important;
}

.markdown-rendered h1 {
 font-size: 18px !important;
}
