body {
	--accent-h: 172;
    --accent-s: 1%;
    --accent-l: 14%;
}
	
@media (min-width: 992px) {
  .content {
    font-size: 14px !important;
  }
} 

@media (max-width: 768px) {
  .content {
    font-size: 12px !important;
  }
}

.filetree-sidebar {
	color: hsl(170.48deg 76.05% 36.76%);
}
.filetree-sidebar h1 {
    font-size: 20px !important;
}

.markdown-preview-view {
 font-size: 12px !important;
}

.markdown-rendered h1 {
 font-size: 25px !important;
}

.backlinks .backlink-title {
	 font-size: 12px !important;
}
//
.no-backlinks-message {
	 font-size: .6rem !important;
}

.backlink-card {
	 font-size: .8rem !important;
}

.backlink-list > div > svg
{
	width: 15px !important;
    height: 15px !important;
}

.toc-title-container .toc-title {
	font-size: .9rem !important;
	}
.toc-container {
	font-size: .8rem !important;
	max-height: 520px !important;
	}
.theme-dark {
    --color-accent: hsl(170.48deg 76.05% 36.76%);
    --color-accent-1: hsl(170.48deg 76.05% 36.76%);
    --color-accent-2: hsl(170.48deg 76.05% 36.76%);
}

.theme-dark, .dark-theme-default.theme-dark {
    --color-base-20: hsl(77, 0%, 15%);
}

.markdown-rendered thead tr {
    background-color: hsl(170.48deg 63.52% 18.39%);
}
